.angular-grid-HeaderCell {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f9f9f9;
  padding: 8px;
  font-weight: bold;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.angular-grid-HeaderCell__value {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.angular-grid-HeaderCell__resizeHandle:hover {
  cursor: ew-resize;
  background: #dddddd;
}

.angular-grid-HeaderCell--locked:last-of-type {
  box-shadow: none;
}

.angular-grid-HeaderCell--resizing .angular-grid-HeaderCell__resizeHandle {
  background: #dddddd;
}

.angular-grid-HeaderCell__draggable {
    cursor: col-resize
}